<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="container">
 <div class="row">

  <div class="col-xs-3">
  	<%= render 'users/list', book: @new_book, user: current_user %>
  	 </div>
   <div class="col-xs-9">
   	<table class="table table-striped">
   <thead>
    <tr>
   <th><h1>Users</h1></th>
   <th><p>image</p></th>
   <th><p>name</p></th>
 <% @users.each do |user| %>
	<th><div><%= user.name %></div></th>
	<th><div>
     <%=link_to 'show', "/users/#{user.id}" %>
    </div></th>
     <th><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg'  %></th>
<% end %>
  </div>
 </div>
</div>
</div>